/**
 * General
 */
* {
    margin: 0;
    padding: 0;
}

body,
input,
button,
textarea {
    font: 19px "Open Sans", Helvetica, Arial, sans-serif;
}

/**
 * Rally Center Logo
 */
.rc-logotype {
    font-size: 12px;
    text-transform: lowercase;
}

.rc-logotype__highlight {
    font-size: 30px;
    font-weight: bold;

    text-transform: uppercase;

    display: block;
}

/**
 * Site Top
 */
.site-top {
    height: 100px;

    padding: 0 95px;

    display: flex;
    align-items: center;
}

.site-top__logotype-1 {
    margin-right: 60px;
}

.site-top__logotype-2 {
    margin-left: 60px;
}

.site-top__contacts {
    flex: 1;
}

.site-top__call-phone {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.site-top__call-phone::before {
    content: "";

    display: inline-block;

    width: 28px;
    height: 28px;

    background: url(../images/sprite.png);
    margin-right: 10px;
}

.site-top__call-btn {
    color: #fff;
    background: #be0023;

    border: none;

    width: 100%;

    padding: 3px 0;
    margin-top: 5px;

    text-transform: uppercase;

    font-size: 15px;
    font-weight: bold;

    cursor: pointer;
}